PORT=3000

# MongoDB
MONGO_URI=mongodb://localhost:27017/notification

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@localhost:5672

# SendGrid
SENDGRID_API_KEY=SG.xxxxxxxxxxxxxxxxxxxx
SENDGRID_FROM_EMAIL=noreply@autoflow.com.br

# Twilio
TWILIO_ACCOUNT_SID=ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_AUTH_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_PHONE_NUMBER=+55119XXXXXXXX
TWILIO_WHATSAPP_NUMBER=whatsapp:+14155238886
